.answer-left {
  width: 12%;
  /* background-color: rgb(191, 191, 191); */
  /* height: 100%; */
  padding: 0px 2px;
  margin-left: -5px;
}
.answer-center {
  /* height: 1200px; */
  border-radius: 2px;
  width: 56%;
  background-color: white;
  /* padding-right: 4px; */
  margin-left: 5px;
  border: 1px solid rgba(128, 128, 128,0.3);
}
.answer-right {
  width: 32%;
  /* background-color: orange; */
}
#ans {
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 1100px;
  margin: 0 auto;
  margin-top: 15px;
  /* overflow-y: scroll; */
}

.questions h1 {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #282829;
  text-align: left;
}
.answer-left hr {
  margin: 0rem;
  margin-top: 0.5rem;
}
.questions-for-you h1 {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #b92b27;
  text-align: left;
  background-color: #ebdddd;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 3px;
  /* margin-left: 10px; */
}

.answer-requests h1,
.drafts h1 {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #636466;
  text-align: left;
  background-color: #f1f2f2;
  margin: 5px 0px;
  cursor: pointer;
}
.answer-requests h1:hover,
.drafts h1:hover {
  background-color: #e3e3e3;
  border-radius: 3px;
}
.drafts .drafts-count {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #b92b27;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drafts .drafts-count h1 {
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-top: 7px;
}
.drafts h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.star-icon {
  height: 25px;
  width: 25px;
  background-color: #b92b27;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.ans-center-questions-for-you h1 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #636466;
  margin-left: 10px;
}
.answer-center-top {
  display: flex;
  padding: 8px 12px;
  align-items: center;
}
.answer-center hr {
  margin: 0rem;
}
.question-box .question h1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #282829;
}
.question-box .question {
  display: flex;
  justify-content: space-between;
}

.question-box {
  padding: 8px 12px;
}
.no-answer-yet h1 {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #939598;
}
.no-answer-yet span {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #939598;
}
.no-answer-yet .dot {
  font-size: 7px;
  margin: 0px 3px;
}
.question-box .dot{
  font-size: 10px;
  color: #939598;
}
.answer-btn , .follow-btn , .pass-btn{
  display: flex;
  border: 1px solid #dee0e1;
  /* width: 115px; */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
}
.follow-btn, .pass-btn{
    border: none;
}
.follow-btn:hover, .pass-btn:hover{
  background-color: #F1F2F2;
}
.answer-btn:hover{
  box-shadow: 0px 0px 5px #dee0e1;
}
.answer-btn h1, .follow-btn h1, .pass-btn h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #636466;
  margin-left: 5px;
}
.answer-bottom-box {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.downvote-threedot{
    display: flex;
    /* margin-left: 160px; */
    /* margin-right: 10px; */
}
.downvote-icon{
    margin-right: 12px;
    cursor: pointer;
}
.threedot-icon{
    margin-right: 3.2px;
    cursor: pointer;
}
.answer-right-top h1{
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #282829;
}
.answer-right-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
}
.pencil-icon{
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}
.pencil-icon:hover{
  background-color: #e5e5e5;
}
.answer-right{
  padding: 10px 50px;
}

.chatgpt{
  display: flex;
  align-items: center;
  margin: 12px 0px;
  cursor: pointer;
}

.chatgpt img{
  margin-right: 10px;
  border-radius: 33.33%;
  height: 30px;
  max-width: 100%;
}

.chatgpt h1{
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #282829;
  
}
.chatgpt h1:hover{
  text-decoration: underline;
}
.answer-right hr{
  margin-top: .6rem;
}
.more h1{
  font-size: 13px;
  font-weight:500 ;
  color: #636466;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more{
  padding: 10px 0px;
  cursor: pointer;
}
.more h1 svg{
  margin-left: 5px;
}
.answer-bottom-last{
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
}

.answer-bottom-last-right img {
    box-sizing: border-box;
    height: 100%;
    width: 120px;
    padding: 5px;
}
.answer-bottom-last-left h1{
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: #282829;
  margin: 10px 0px;
}
.answer-bottom-last-left p{
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #636466;
}
.add-topics{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  border: 1px solid #2E69FF;
  width: 110px;
  height: 38px;
  margin-top: 10px;
  cursor: pointer;
  /* padding: 5px 0px; */
}
.add-topics h1{
  color: #2E69FF;
  font-weight: 500;
  font-size: 14px;
}
.close-box{
  cursor: pointer;
}

.answer-bottom-box-left{
  display: flex;
}

@media screen and (max-width:1111px){
  #ans{
    width: 100% !important;
  }
  .answer-center{
    width: 100%;
    margin-left: 0px;
  }
  .answer-left{
    display: none;
  }
  .answer-right{
    display: none;
  }
}

@media screen and (max-width:400px) {
  .downvote-threedot .downvote-icon{
    display: none;
  }
}