body {
  /* background-color: white !important; */
}
#notificationsbox {
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 1100px;
  margin: 0 auto;
  margin-top: 15px;
}
.notifications-left {
  width: 12%;
  /* background-color: blue; */
  /* height: 100%; */
  padding: 0px 2px;
  margin-left: -5px;
}

.notifications-center {
  width: 56.4%;
  /* width: 40%; */
  /* background-color: #fff; */
  /* background-color: red; */
  /* height: 100%; */
  padding-right: 4px;
  margin-left: 5px;
}

.filters h1 {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #282829;
  text-align: left;
}

.notifications-left hr {
  margin: 0rem;
  margin-top: 0.5rem;
}

.all-notifications h1 {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #b92b27;
  text-align: left;
  background-color: #ebdddd;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 3px;
  /* margin-left: 10px; */
}

.stories h1,
.questions-notify h1,
.spaces-notify h1,
.people-updates h1,
.comments-and-mentions h1,
.upvotes h1,
.yourcontent h1,
.yourprofile h1,
.announcements h1,
.earnings h1,
.subscriptions h1 {
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: #636466;
  text-align: left;
  background-color: #f1f2f2;
  margin: 5px 0px;
  cursor: pointer;
}

.questions-notify .questions-notify-count,
.spaces-notify .spaces-notify-count {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #b92b27;
  /* background-color: blue; */
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.questions-notify .questions-notify-count h1,
.spaces-notify .spaces-notify-count h1 {
  background-color: transparent;
  /* background-color: #b92b27; */
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-top: 7px;
}

.questions-notify h1,
.spaces-notify h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stories h1:hover,
.questions-notify .questions:hover,
.spaces-notify .spaces:hover,
.people-updates h1:hover,
.comments-and-mentions h1:hover,
.upvotes h1:hover,
.yourcontent h1:hover,
.yourprofile h1:hover,
.announcements h1:hover,
.earnings h1:hover,
.subscriptions h1:hover {
  background-color: #e3e3e3;
  border-radius: 3px;
  /* background-color: red; */
}



.notifications-center-top-left h1 {
  font-weight: 500;
  font-size: 15px;
  color: #282829;
  line-height: 21px;
}
.notifications-center-top-right p {
  font-weight: 400;
  font-size: 13px;
  color: #636466;
  line-height: 18px;
}

.notifications-center-top-right .dot,
.user-space-details .dot {
  font-size: 7px;
  margin: 0px 3px;
}

.user-space-details{
  /* width:493px */
}
.notifications-center-top {
  display: flex;
  justify-content: space-between;
}
.notifications-center hr {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}
.notifications-center-bottom .user-profile-pic img {
  height: 32px;
  width: 32px;
  border-radius: 33.33%;
}
.notifications-center-bottom {
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  /* justify-content: space-between; */
  padding: 15px 15px;
  cursor: pointer;
}
.notifications-center-bottom-first {
  display: flex;
  justify-content: space-between;
}
.notifications-center-bottom-second h1 {
  margin-left: 50px;
  /* text-align: left; */
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #282829;
}
.notifications-center-top-right .markbox:hover,
.notifications-center-top-right .settings:hover {
  text-decoration: underline;
  cursor: pointer;
}
.notifications-center-top-right {
  cursor: default;
}

.notifications-center-bottom-first-left{
  display: flex;
}
.notifications-center-bottom-first-left .user-space-details{
  margin-left: 18px;
}

@media screen and (max-width:1111px){
  #notificationsbox{
    width: 100%;
  }
  .notifications-left{
    display: none;
  }
  .notifications-center{
    width: 100%;
    padding-right: 0;
    margin-left: 0;
  }
  .notifications-center-top{
    padding: 0 10px;
  }
}